body{
  font-family: helvetica, sans-serif;
  padding-top: 40px;
}

table {
    width: 100%;
}

th,td{
  padding: 15px;
  text-align: left;
  border-bottom: solid rgb(227, 227, 227) 1px;
  cursor:default;
}

tr:hover {
  background-color: rgb(233, 233, 233);
}

.ox-box{
  min-width: 260px;
}

.bigNumber{
  font-size: 72px;
  text-align: center;
  font-weight: bold;
}

.bigNumberLabel{
  text-align: center;
}

#reload{
  position:absolute;
  right:20px;
  top:0;
  font-size: 24px;
  padding: 5px 10px;
  background: rgb(98, 96, 189);
  color:white;
  border-radius: 3px;
  cursor:pointer;
  opacity: .4;
  transition: ease-in 0.2s;
  border: none;
}

#reload:hover{
  opacity: 1;
}


/* =============================================================== */
/*                           OX-BOX                                */
/* =============================================================== */
.ox-trible-container:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px;
}

.ox-trible-container .ox-box{
  float:left;
  width: 32.33%;
  margin: 0 0.5%;
  box-sizing: border-box;
}

.ox-box{
  margin: 20px auto;
  padding: 10px 20px;
  border-radius:2px;
  background: rgb(240, 240, 240);
  border-top: 4px rgb(64, 142, 184) solid;
  box-shadow: 1px 1px 2px rgb(185, 185, 185);
}

.ox-box h2{
  margin: 10px;
  font-family: helvetica, sans-serif;
  color: rgb(161, 161, 161);
}
