/* ================================================ */
/*                  HTML                          */
/* ================================================ */

html, body{
  margin:0;
  padding:0;
  font-family: helvetica, sans-serif;
  overflow-x: hidden;
}

/* ================================================ */
/*                  HEADER                          */
/* ================================================ */


header{
  height: 100vh;
  width: 100vw;
  background: rgb(164, 208, 222);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin:0;
}

header .ov{
  width: 100%;
  height: 100%;
  background: url(../img/bg_ov.png) repeat;
  opacity: 0.7;
}

header h1{
  position: absolute;
  top: 40%;
  text-align: center;
  width: 100%;
  font-size: 124px;
  margin:0;
  color: rgb(255, 111, 215);
  display:none;
}

@media screen and (max-width: 1200px){
  header h1{
    font-size: 80px;
  }
}

@media screen and (max-width: 800px){
  header h1{
    font-size: 50px;
  }
}

@media screen and (max-width: 400px){
  header h1{
    font-size: 24px;
  }
}


/* ================================================ */
/*                    NAV                           */
/* ================================================ */

nav{
  position:fixed;
  right: 20px;
  z-index: 99;
  top: 40%;
  text-align: right;
  display:none;
}

nav li{
  list-style: none;
  margin-bottom: 15px;
}

nav a{
  color: rgba(255, 129, 250, 0.6);
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover{
  transition: ease-in 0.2s;
  color: rgba(255, 129, 250, 1);
}


/* ================================================ */
/*              Feature slideContainer              */
/* ================================================ */

.slideContainer{
  width: 50%;
  margin: -250px auto 0 auto;
  position: relative;
}

.slide{
  width: 100%;
  min-height: 100vh;
  position:absolute;
}

.slide div{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  background: rgb(204, 197, 223);
  margin: -100px 0 0 0;
  font-family: helvetica, sans-serif;
  padding: 60px 0;
  background: rgb(235, 112, 255);
  color: white;
  border-radius: 2px;
}

.slide img{
  width: 100%;
  height: auto;
}

.slide .image {
  filter: grayscale(50%);
}

.slide .image-shadow {
  top: 6px;
  filter: blur(15px) brightness(-100);
  opacity: .4;
  position:absolute;
}
