/* ================================================ */
/*                       HTML                       */
/* ================================================ */
@font-face {
    font-family:"Myriad Pro Regular";
    src: url("fonts/MyriadProRegular.ttf");
}

/* ================================================ */
/*                       HTML                       */
/* ================================================ */

html, body{
  margin:0;
  padding:0;
  font-family: helvetica, sans-serif;
  overflow-x: hidden;
  background: rgb(242, 236, 242);
  cursor: default;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/* ================================================ */
/*                      FOOTER                      */
/* ================================================ */

footer{
  padding: 20px 0;
  text-align: center;
}

/* ================================================ */
/*                     TABLE                        */
/* ================================================ */
table{
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
}
thead{
  text-align: left;
  background: rgb(156, 156, 156);
  color: white;
  font-size: 24px;
}
thead td{
  padding: 5px 15px;
  text-align: center;
}
tbody td{
  position: relative;
  padding: 10px;
  border-bottom: 2px rgb(180, 180, 180) dashed;
}




/* ================================================ */
/*                       PRE                        */
/* ================================================ */

pre {
  font-family: monospace;
  max-width: 800px;
  margin: 20px auto;
  width: 100%;
  box-sizing: border-box;
  border: 6px rgb(79, 78, 78) solid;
  border-left-width: 50px;
  background: white;
  color: rgb(125, 125, 125);
  border-radius: 4px;
  padding: 15px;
  white-space: pre-line;
}

/* ================================================ */
/*                        UL                        */
/* ================================================ */

ul.list {
    list-style-type: none;
    margin: 20px auto;
    padding: 0 30px;
    counter-reset: li-counter;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
}

ul.list > li{
  position: relative;
  padding: 10px 0;
  text-align: left;
}

ul.list > li:before {
    position: absolute;
    top: 0;
    left: -40px;
    width: 30px;
    font-size: 34px;
    line-height: 1.2;
    font-weight: bold;
    text-align: right;
    color: rgb(79, 78, 78);
    content: '#';
}

/* ================================================ */
/*                        OL                        */
/* ================================================ */

ol.list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0 30px;
    counter-reset: li-counter;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
}
ol.list > li{
    position: relative;
    margin-bottom: 30px;
    padding-left: 10px;
    min-height: 30px;
    border-left: 2px solid rgb(199, 191, 191);
    color: rgb(187, 179, 187);
    font-size: 18px;
}
ol.list > li:before {
    position: absolute;
    top: 0;
    left: -40px;
    width: 30px;
    font-size: 30px;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: rgb(79, 78, 78);
    content: counter(li-counter);
    counter-increment: li-counter;
}

/* ================================================ */
/*                      BUTTON                      */
/* ================================================ */

a.button{
  display:inline-block;
  margin: 10px 0;
  padding: 15px 30px;
  min-width: 100px;
  background: rgb(139, 32, 157);
  border-radius: 4px;
  color: white;
  text-decoration: none;
}

a.button:hover{
  transition: ease-in .3s;
  background: rgb(174, 64, 193);
}

a.button.disabled{
  cursor: default;
  background: rgb(148, 126, 152);
}


/* ================================================ */
/*                   FEATURE LIST                   */
/* ================================================ */

.feature-list-container{
  padding: 50px 0;
}

.feature-list-container .feature-item{
  border-top: rgb(155, 28, 176) 5px dashed;
  display:block;
  padding: 30px 20px 50px 20px;
}

.feature-list-container .feature-item .feature-wrap{
  max-width: 70%;
  margin: 0 auto;
}

.feature-list-container .feature-item .feature-wrap img{
  margin-right: 40px;
  max-width: 300px;
  width: 50%;
  height: auto;
  float:left;
  border-radius: 16px;
  box-shadow: 1px 1px 10px -5px rgb(0, 0, 0);
  background: white;
  box-sizing: border-box;
}

.feature-list-container .feature-item .feature-wrap img.padded{
  padding: 20px;
}

.feature-list-container .feature-item .feature-wrap h1{
  color: rgb(242, 169, 247);
  font-size: 45px;
}

.feature-list-container .feature-item .feature-wrap p{
  color: rgb(187, 179, 187);
  font-size: 18px;
}

.feature-list-container .feature-item:first-child{
  border-top: none;
}

.feature-list-container .feature-item:nth-child(even){
  border-color: rgb(242, 236, 242);
  background: rgb(155, 28, 176);
}

.feature-list-container .feature-item:nth-child(even) h1{
  color: rgb(242, 169, 247);
  font-size: 45px;
}

.feature-list-container .feature-item:nth-child(even) p{
  color: rgb(228, 220, 228);
  font-size: 18px;
}

@media screen and (max-width: 1200px){

  .feature-list-container .feature-item .feature-wrap img{
    width: 100%;
    margin-bottom: 20px;
  }

  .feature-list-container .feature-item .feature-wrap h1{
    font-size: 22px;
  }

  .feature-list-container .feature-item .feature-wrap p{
    font-size: 16px;
  }

}

/* ================================================ */
/*               THREE-WAY-EYECATCHER               */
/* ================================================ */

.three-way-eyecatcher{
  margin-top: 250px;
  padding: 40px 50px;
  background-image: linear-gradient(45deg, rgb(135, 34, 152) 0%, rgb(164, 25, 186) 50%);
}

.three-way-eyecatcher-item{
  float:left;
  width: 33%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

.three-way-eyecatcher-item img{
  max-width: 100%;
  height: 120px;
}

.three-way-eyecatcher-item h1{
  color: rgb(242, 169, 247);
  font-size: 45px;
}

.three-way-eyecatcher-item p{
  color: rgb(228, 220, 228);
  font-size: 18px;
}

@media screen and (max-width: 1200px){

  .three-way-eyecatcher-item{
    width: 100%;
    margin-bottom: 120px;
  }

}


/* ================================================ */
/*                   EYECATCHER                     */
/* ================================================ */

.eyecatcher{
  margin-top: 250px;
}
.eyecatcher:after{
  clear:both;
}

.eyecatcher.right .eyecatcher-text{
  display:inline-block;
  float:right;
  width: 600px;
  max-width: 40%;
  margin-right: 10%;
}

.eyecatcher.right .eyecatcher-img{
  display:block;
  float:right;
  margin-right: -40px;
  max-height: 500px;
  max-width: 50%;
}

.eyecatcher.left .eyecatcher-text{
  display:inline-block;
  float:left;
  width: 600px;
  max-width: 40%;
  margin-left: 10%;
}

.eyecatcher.left .eyecatcher-img{
  display:block;
  float:left;
  margin-left: -40px;
  max-height: 500px;
  max-width: 50%;
}

.eyecatcher  h1{
  color: rgb(159, 95, 164);
  font-size: 45px;
}
.eyecatcher  p{
  color: rgb(187, 179, 187);
  font-size: 18px;
}

.eyecatcher  a{
  display: inline-block;
  text-decoration: none;
  color: rgb(187, 179, 187);
  margin-top: 10px;
  padding: 12px 20px;
  border: rgb(187, 179, 187) solid 1px;
  border-radius: 6px;
  font-size: 18px;
}

.eyecatcher  a:hover{
  transition: ease-in 0.3s;
  color: rgb(159, 95, 164);
  border-color: rgb(159, 95, 164);
}

@media screen and (max-width: 1200px){

  .eyecatcher.right .eyecatcher-img{
    width: 90%;
    max-width: 90%;
  }

  .eyecatcher.right .eyecatcher-text{
    width: 80%;
    max-width: 80%;
    margin-right: 5%;
  }

  .eyecatcher.left .eyecatcher-img{
    width: 90%;
    max-width: 90%;
  }

  .eyecatcher.left .eyecatcher-text{
    width: 80%;
    max-width: 80%;
    margin-left: 5%;
  }
}

@media screen and (max-width: 600px){

  .eyecatcher.left .eyecatcher-img{
    width: 100%;
    max-width: 100%;
    padding: 0 10%;
    box-sizing: border-box;
    margin-left:0;
  }
  .eyecatcher.right .eyecatcher-img{
    width: 100%;
    max-width: 100%;
    padding: 0 10%;
    box-sizing: border-box;
    margin-right:0;
  }

  .eyecatcher.left .eyecatcher-text{
    width: 100%;
    max-width: 100%;
    padding: 0 10%;
    margin: 0;
    box-sizing: border-box;
  }

  .eyecatcher.right .eyecatcher-text{
    width: 100%;
    max-width: 100%;
    padding: 0 10%;
    margin: 0;
    box-sizing: border-box;
  }

}

/* ================================================ */
/*                 TEXT ELEMENT                     */
/* ================================================ */

.text-element{
  margin: 20px 0;
  padding: 20px;
  text-align: center;
  color: rgb(187, 179, 187);
  font-size: 18px;
}
.text-element h1{
  color: rgb(159, 95, 164);
  font-size: 45px;
}

/* ================================================ */
/*                  HEADER-FLAT                     */
/* ================================================ */

header.flat{
  border-radius:0;
  background-image: linear-gradient(45deg, rgb(135, 34, 152) 0%, rgb(164, 25, 186) 50%);
  padding: 100px;
  box-sizing: border-box;
  border: none;
}
header .img{
  box-sizing: border-box;
  max-width: 1000px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 800px){
  header.flat{
    padding: 40px;
  }
}

/* ================================================ */
/*                      HEADER                      */
/* ================================================ */


header{
  height: 80vh;
  width: 100vw;
  background: rgb(164, 208, 222);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center bottom !important;
  margin:0;
  border-bottom-left-radius:8%;
  border-bottom-right-radius:8%;
  border-bottom: solid 10px transparent;
}

header .ov{
  border-bottom-left-radius:8%;
  border-bottom-right-radius:8%;
  border-bottom: solid 10px transparent;
}

.ov{
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/bg_ov.png) repeat;
  opacity: 0.3;
}

header h1{
  position: absolute;
  top: 30%;
  text-align: center;
  width: 100%;
  font-size: 124px;
  margin:0;
  color: rgb(255, 111, 215);
  display:none;
}

@media screen and (max-width: 1200px){
  header h1{
    font-size: 80px;
  }
}

@media screen and (max-width: 800px){
  header h1{
    font-size: 50px;
  }

  header{
    background-position: center center !important;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
  }

  header .ov{
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
  }
}

@media screen and (max-width: 400px){
  header h1{
    font-size: 24px;
  }
}


/* ================================================ */
/*                  FSCONTAINER                     */
/* ================================================ */

.fsContainer{
  position: relative;
  /*min-height: 100vh;
  min-width: 100vw;*/
}

/* ================================================ */
/*                    NAV                           */
/* ================================================ */

nav{
  position:absolute;
  top:0;
  left:0;
  z-index: 98;
}

nav li{
  display: inline-block;
  list-style: none;
  margin-right: 15px;
}

nav a{
  color: rgba(255, 129, 250, 0.6);
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover{
  transition: ease-in 0.2s;
  color: rgba(255, 129, 250, 1);
}

.navToggle{
  position:absolute;
  top:10px;
  right:10px;
  border:none;
  color: white;
  font-size: 42px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  padding: 5px 15px;
  display:none;
  z-index: 99;
}

@media screen and (max-width: 800px){
  .navToggle{
    display:block;
  }

  .navToggle.visible{
    position: fixed;
  }

  nav{
    opacity:0;
    padding-top: 20vh;
    width: 100vw;
    height: 100vh;
    background: rgba(32, 32, 32, 0.9);
    position: fixed;
    display:none;
    transition: all 2s linear;
  }

  nav.visible{
    opacity:1;
    display:block;
  }

  nav ul{
    padding: 0;
  }

  nav li{
    display: block;
    margin-right: 0;
  }

  nav a{
    font-size:22px;
    display: block;
    text-align: center;
    padding: 20px 0;
  }

}


/* ================================================ */
/*                  ScrollSlideshow                 */
/* ================================================ */

/* Page Editor Extra CSS*/
.oxymora-area .slideContainer{
  margin:0 !important;
}
.oxymora-area .slideContainer .background{
  top:0 !important;
}
/* Page Editor Extra CSS*/

.slideContainer{
  position: relative;
}

.slideContainer .background{
  position: absolute;
  background: repeating-radial-gradient(circle, rgb(194, 0, 209), rgb(194, 0, 209) 10px, rgb(150, 26, 159) 10px, rgb(150, 26, 159) 20px);
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.slide{
  width: 66%;
  left: 17%;
  position:relative;
  margin: 0 auto;
  display:none;
}

.slide div{
  position: relative;
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  margin: -120px 0 0 0;
  font-family: helvetica, sans-serif;
  padding: 60px 0;
  color: white;
  border-radius: 2px;
}

.slide img{
  position: relative;
  width: 100%;
  height: auto;
}

.slide .image {
  filter: grayscale(50%);
}

.slide .image-shadow {
  top: 6px;
  filter: blur(15px) brightness(-100);
  opacity: .4;
  position:absolute;
}

@media screen and (max-width: 1600px){
  .slide div{
    font-size: 60px;
  }
}

@media screen and (max-width: 1200px){
  .slide div{
    margin-top: -100px;
    font-size: 40px;
  }

  .slideContainer{
    margin-top: -15vh;
  }
}

@media screen and (max-width: 800px){
  .slide div{
    margin-top: -70px;
    font-size: 24px;
  }

  .slideContainer{
    margin-top: -10vh;
  }
}





/* ================================================ */
/*                Feature getStarted                */
/* ================================================ */

.getstartedContainer{
  display:block;
  position: relative;
  height: 100vh;
  width: 100vw;
  transition: background ease-in 0.6s;
}

.getstartedContainer button{
  position: relative;
  display:block;
  top: 40%;
  width: 60%;
  min-width: 300px;
  height: 20%;
  border: 4px rgb(235, 17, 240) solid;
  background: rgb(161, 0, 164);
  color: rgb(253, 154, 255);
  border-radius: 10px;
  font-size: 36px;
  cursor: pointer;
  z-index: 2;
  margin: 0 auto;
}

.getstartedContainer button:hover{
  transition: ease-in 0.2s;
  border: 4px rgb(132, 39, 134) solid;
  background: rgb(250, 0, 255);
  color: white;
}

/* ================================================ */
/*                   Downloader                     */
/* ================================================ */

.downloader{
  margin: 40px auto;
  max-width: 600px;
  padding: 20px;
  border-radius: 2px;
  text-align: center;
  background: rgb(155, 28, 176);
  color: white;
  font-size: 24px;
}

.downloader a{
  text-decoration: none;
  color: rgb(252, 119, 255);
}

.downloader a:hover{
  transition: ease-in .2s;
  text-decoration: none;
  color: rgb(242, 174, 244);
}

@media screen and (max-width: 650px){
  .downloader{
    border-radius: 0;
  }
}
