body{
  font-family: helvetica, sans-serif;
}

table{
  width: 100%;
}

td{
  border-bottom: 2px solid rgb(189, 189, 189);
}
th{
  color:rgb(106, 136, 167);
  border-bottom: 2px solid rgb(106, 136, 167);
}

.item{
  text-align:center;
}

form{
  text-align: center;
}
