<!DOCTYPE html>
<html>
  <head>
    <!-- Meta Stuff -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{static:description}">
    <meta name="author" content="{static:author}">
    <title>{static:title}</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/master.css">

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
  </head>
  <body>

    <!-- ===================================================================================== -->
    <!--                                     NAV                                               -->
    <!-- ===================================================================================== -->
    {plugin:Navigation}

    <!-- ===================================================================================== -->
    <!--                                    MAIN                                               -->
    <!-- ===================================================================================== -->
    <div class="container">{area:body}</div>

  </body>
</html>
