.contextMenu{
  position: fixed;
  display: none;
  z-index: 99;
  color: rgb(66, 66, 66);
  background: rgb(241, 245, 247);
  border-radius: 2px;
  box-shadow: .5px .5px 6px 0 rgba(89, 91, 94, 0.8);
  padding: 5px;
  font-style: helvetica, sans-serif;
}

.contextMenu ul{
  margin:0;
  padding:0;
}

.contextMenu li{
  display: block;
  list-style: none;
  padding: 10px 20px;
  cursor: default;
  border-radius: 2px;
}

.contextMenu li:hover{
  transition: ease-in .2s;
  color: white;
  background: rgb(76, 102, 125);
}
