/* =============================================================== */
/*                    NAVIGATION ITEMS                             */
/* =============================================================== */

.navitem{
  position:absolute;
  background: rgb(156, 211, 251);
  margin-bottom: 10px;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
}

.navitem .title{
  display:inline-block;
  cursor:default;
  width: 200px;
}

.navitem .url{
  display:inline-block;
  cursor:default;
}

.navitem .buttonbar{
  position:absolute;
  top:0;
  right:0;
  padding: 10px;
}

.navitem .buttonbar button{
  border-radius: 2px;
  border: 1px rgb(121, 154, 210) solid;
  background: none;
  padding:3px 5px;
  cursor:pointer;
}

.navitem .buttonbar button.red{
  color: rgb(187, 45, 45);
  border: 1px rgb(214, 88, 88) solid;
}

.navitem .buttonbar button:hover{
  color: white;
  transition: ease-in 0.2s;
  background: rgb(121, 154, 210);
}

.navitem .buttonbar button.red:hover{
  background: rgb(214, 88, 88);
}


/* =============================================================== */
/*                         TABCONTROL                              */
/* =============================================================== */

.tabContainer{

}

.tabContainer ul{
  margin:20px 0 10px 0;
}

.tabContainer ul li{
  display: inline-block;
  list-style:none;
}

.tabContainer ul a{
  padding: 10px 20px;
  background: rgba(79, 193, 242, 0.5);
  border-radius: 3px 3px 0 0;
  color: rgb(177, 177, 177);
  text-decoration: none;
  cursor:pointer;
  font-size: 20px;
  color: white;
}

.tabContainer ul a.active{
  color: white;
  background: rgb(79, 193, 242);
}

.tabContainer .tabContent{
  background: rgb(79, 193, 242);
  border: rgb(79, 193, 242) solid 2px;
  border-radius:3px;
  min-height: 400px;
  padding: 20px;
}

.tabContainer .tabContent .tab{
  position: relative;
}


/* =============================================================== */
/*                            BOXES                                */
/* =============================================================== */

.headerbox{
  width: 90%;
  max-width: 400px;
  padding: 20px;
  border-radius: 3px;
  margin: 20px auto 80px auto;
}







/* =============================================================== */
/*                         BOX STILS                               */
/* =============================================================== */


.purple-box{
  background:linear-gradient(rgba(113, 119, 201, 0.8), rgba(173, 54, 222, 0.8));
  color: white;
}

.blue-box{
  background:rgb(54, 148, 173);
  color: white;
}
