/* =============================================================== */
/*                           SPINNER                               */
/* =============================================================== */
/* http://tobiasahlin.com/spinkit/ */
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/* =============================================================== */
/*                          SETTINGS                               */
/* =============================================================== */
.settings{
  padding: 50px 0;
}

.settings .info{
  text-align: center;
  margin: 60px 0;
  white-space: nowrap;
}

.settings img{
  width: 300px;
}

.settings .info .oxy-h1{
  font-size: 160px;
  color: rgb(214, 76, 200);
}
.settings .info .oxy-h2{
  font-size: 160px;
  color: rgb(190, 190, 190);
}

@media screen and (max-width: 1700px){
  .settings img{
    width: 240px;
  }

  .settings .info .oxy-h1{
    font-size: 120px;

  }
  .settings .info .oxy-h2{
    font-size: 120px;
  }
}

@media screen and (max-width: 1500px){
  .settings img{
    width: 200px;
  }

  .settings .info .oxy-h1{
    font-size: 80px;

  }
  .settings .info .oxy-h2{
    font-size: 80px;
  }
}

@media screen and (max-width: 1300px){
  .settings img{
    width: 100px;
  }
  .settings .info .oxy-h1{
    font-size: 80px;
  }
  .settings .info .oxy-h2{
    font-size: 80px;
  }
}

.settings .user{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.settings .user .userimg{
  display:inline-block;
  width: 200px;
  height: 200px;
  position: relative;
  padding: 10px 20px;
}

.settings .user .userimg img{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-sizing: border-box;
}

.settings .user .userimg .changeImageBox{
  display: none;
}

.settings .user .userimg .imgoverlay{
  opacity: 0;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(239, 244, 246, 0.8);
  color: rgb(64, 142, 184);
  text-align: center;
  padding-top: 70px;
  box-sizing: border-box;
  cursor:pointer;
}

.settings .user .userimg:hover .imgoverlay{
  transition: ease-in .2s;
  opacity: 1;
  display:block;
}

.settings .user .userinfo{
  display:inline-block;
  width: 400px;
  height: 200px;
  box-sizing: border-box;
  padding: 20px;
}

.settings .user .userinfo input, .settings .user .userinfo label{
  display:block;
}

.settings .user-actions{
  margin-top: 20px;
  text-align: center;
}

.settings .user-actions button{
  border: 3px solid rgb(255, 255, 255);
  background: rgb(222, 222, 222);
  padding: 20px 0;
  width: 330px;
  margin-right: 20px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  cursor:pointer;
  transition: ease-in 0.2s;
}

.settings .user-actions button.changePw:hover{
  background: rgb(112, 209, 197);
}
.settings .user-actions button.deleteAcc:hover{
  background: rgb(207, 85, 85);
}

.settings .template, .settings .database{
  width: 800px;
}

.settings .user-actions button.templateSave:hover{
  background: rgb(112, 209, 197);
}
.settings .user-actions button.templateDiscard:hover{
  background: rgb(112, 209, 197);
}

.settings .backupWrapper{
  width: 500px;
  margin:0 auto;
}

.settings .backupWrapper .warning{
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 3px;
  background: rgb(255, 188, 98);
  color: rgb(255, 255, 255);
}

.settings .backupWrapper .export_button{
  display:block;
  width: 200px;
  margin: 20px auto 0 auto;
}

/* =============================================================== */
/*                        FILESELECTOR                             */
/* =============================================================== */
button.fileSelector{
  display:block;
  width: 100%;
  border: none;
  background: rgb(158, 158, 158);
  border-radius: 2px;
  padding: 5px;
  color:white;
  cursor:pointer;
}
button.fileSelector.isSelected, button.fileSelector:hover{
  transition: ease-in .2s;
  background: rgb(49, 122, 208);
}
div.fileSelectorBox{
  background: rgb(34, 45, 48);
  position: absolute;
  display: none; /* fades in */
  top: 0;
  left: -2px;
  width: calc(100% + 4px);
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  border: rgb(26, 31, 32) 2px solid;
  z-index: 9;
}
div.fileSelectorBox header{
  border-radius: 3px 3px 0 0;
  padding: 10px 15px;
  background: rgb(26, 31, 32);
  color: white;
  display:relative;
}
div.fileSelectorBox header span{
  display:inline-block;
  vertical-align: middle;
  cursor:default;
}
div.fileSelectorBox header button.back{
  border: none;
  background: rgb(43, 54, 57);
  color: rgb(184, 184, 184);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin-right: 10px;
  outline:none;
  cursor:pointer;
}
div.fileSelectorBox header button.back:hover{
  background: rgb(65, 79, 83);
}
div.fileSelectorBox header button.back i{
  display:inline-block;
  vertical-align: middle;
}
div.fileSelectorBox header button.close{
  border: none;
  color: rgb(238, 111, 111);
  background: transparent;
  cursor:pointer;
  font-weight: bolder;
  position:absolute;
  right:10px;
  font-size: 16px;
}
div.fileSelectorBox header button.close:hover{
  transition:ease-in 0.2s;
  color: rgb(246, 65, 65);
}
div.fileSelectorBox .search-container{
  padding: 10px 20px;
}
div.fileSelectorBox .search-container input{
  width: 100%;
  border: rgb(25, 31, 32) 1px solid;
  border-radius: 1.5px;
  background: rgb(32, 43, 47);
  padding: 6px 8px;
  box-sizing: border-box;
  color: white;
}
div.fileSelectorBox .filesystem-container{
  height: 400px;
  overflow-y:auto;
}
div.fileSelectorBox .dirs{
  height: auto;
  /*min-height: 50px;*/
  box-sizing: border-box;
  padding: 10px 20px;
  display: block;
}
div.fileSelectorBox .dirs .dir{
  width: 31%;
  margin: 1% 2px;
  min-width: 120px;
  height: 30px;
  display: inline-flex;
  border-radius: 2px;
  background: rgb(76, 132, 154);
  box-shadow: .6px .6px 3px rgb(19, 23, 24);
  cursor: default;
  border: 2px transparent solid;
}

div.fileSelectorBox .dirs h3{
  text-align: left;
  font-size: 14px;
  font-family: helvetica, sans-serif;
  font-weight: lighter;
  display: inline;
  color: rgb(198, 227, 238);
  margin:7px 0 0 0;
}

div.fileSelectorBox .dirs i{
  padding: 7px;
  border-radius: 2px 0 0 2px;
  color: rgb(198, 227, 238);
  margin-right: 5px;
  box-sizing: border-box;
}
div.fileSelectorBox .files{
  height: auto;
  box-sizing: border-box;
  padding: 10px 20px;
  display: block;
  overflow-y: auto;
  text-align: center;
}
div.fileSelectorBox .files .file.active{
  box-shadow: 0px 0px 4px 1px rgb(98, 203, 255);
}
div.fileSelectorBox .files .file{
  width: 140px;
  margin: 4px;
  height: 130px;
  display: inline-block;
  cursor: default;
  border-radius: 2px;
  border: 1px rgb(198, 227, 238) solid;
  background: rgb(21, 24, 24);
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

div.fileSelectorBox .files .file .preview{
  border:none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

div.fileSelectorBox .files .file h3{
  padding: 5px;
  margin:0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  position:absolute;
  bottom:14px;
  left:0;
  right:0;
}



/* =============================================================== */
/*                           WIDGETS                               */
/* =============================================================== */
.widget-container{
  position:relative;
  margin-bottom: 20px;
  display:flex;
  justify-content: left;
  flex-direction: row;
  flex-flow: row wrap;
  align-content: flex-end;
}

.widget{
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: 380px;
  width: 450px;
  margin: 10px;
  overflow: hidden;
  overflow:hidden;
}

@media screen and (max-width: 600px){
  .widget{
    margin: 10px 0;
    width: 100%;
  }
}

.widget a{
  position: absolute;
  text-decoration: none;
  color: rgb(205, 205, 205);
}

.widget a:hover{
  transition: ease-in 0.2s;
}

.widget .delete{
  left: 30px;
  bottom: 0;
}

.widget .up{
  right: 55px;
  bottom: 0;
}

.widget .down{
  right: 35px;
  bottom: 0;
}

.widget .delete:hover{
    color: rgb(221, 77, 77);
}

.widget .up:hover, .widget .down:hover{
    color: rgb(77, 147, 221);
}

.widget-placeholder{
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  margin: 20px;
  border: 1px dashed rgb(214, 214, 214);
  color: rgb(214, 214, 214);
  text-align: center;
  font-size: 20px;
  padding-top: 160px;
  box-sizing: border-box;
  cursor: pointer;
}

.widget-placeholder:hover{
  transition: ease-in .3s;
  border-color: rgb(192, 94, 215);
  color: rgb(192, 94, 215);
}

.widgetIframe{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.widget-select ul{
  padding:0;
  margin: 20px;
}

.widget-select li{
  display:flex;
  height: 50px;
  list-style: none;
  background: rgb(209, 209, 209);
  padding: 10px 5px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 24px;
  color: white;
}
.widget-select li img{
  height: 100%;
  width: auto;
}

.widget-select li i{
  padding: 2px 0 0 10px;
}

.widget-select li span{
  height: 100%;
  display: inline-block;
  margin-left: 10px;
}

.widget-select li:hover{
  transition: ease-in 0.2s;
  background: rgb(206, 130, 210);
}

/* =============================================================== */
/*                            ERROR                                */
/* =============================================================== */

.fs-error{
  max-width: 600px;
  box-sizing: border-box;
  padding: 20px;
  margin: 20px auto 0 auto;
  text-align: center;
  background: rgb(233, 76, 76);
}

.fs-error p{
  font-size: 16px;
}

.fs-error i{
  font-size: 72px;
  color: white;
}



/* =============================================================== */
/*                            USERS                                */
/* =============================================================== */

#userContainer{
  text-align: center;
}

.user-item{
  cursor:default;
  position:relative;
  height: 250px;
  width: calc(300px - 10px);
  margin: 10px 10px;
  background: white;
  box-shadow: .6px .6px 6px rgb(185, 185, 185);
  border-radius: 2px;
  border-top: 6px solid rgb(64, 142, 184);
  border-left: none;
  border-bottom: none;
  border-right:none;
  display: inline-block;
}

.user-item .image{
  height: 250px;
  width: 100%;
  border: 4px solid rgb(64, 142, 184);
  position:absolute;
  top:0;
  left:0;
  text-align: center;
  box-sizing: border-box;
  background-size: cover;
}

.user-item .info{
  position:absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 50px;
  display:block;
  background: rgba(64, 142, 184, 1);
  text-align: left;
  opacity: 0.15;
}

.user-item:hover .info{
  transition: ease-in 0.2s;
  opacity: 1;
}

.user-item .info h3{
  font-size: 20px;
  margin: 10px 10px;
  padding: 4px 5px;
  display:block;
  width: 160px;
  background: rgb(96, 204, 155);
  border-radius: 2px;
  color:white;
  border: 2px solid white;
  display:inline-block;
}

.user-item .info button{
  font-size: 18px;
  padding: 4px 8px;
  display:inline-block;
  background: transparent;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.user-item .info button:hover{
  transition: ease-in .3s;
  color: rgb(244, 201, 255);
}

.group-item{
  margin: 7px 10px;
  cursor:default;
  position:relative;
}

.group-item .info{
  background: rgb(217, 217, 217);
  margin-top: 5px;
  color: rgb(159, 159, 159);
  box-shadow: 0 0 4px rgba(87, 87, 87, 0.7);
}

.group-item .info i{
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  background: rgb(159, 215, 199);
  color:white;
}


.group-item .actions{
  position:absolute;
  right:10px;
  top:7px;
  text-align: right;
}


.group-item .actions button{
  border: none;
  border-radius: 2px;
  padding: 4px 8px;
  cursor:pointer;
  background: rgb(115, 115, 115);
  color:white;
}

.group-item .actions button:hover{
  transition: ease-in .3s;
  background: rgb(154, 154, 154);
}


/* =============================================================== */
/*                            FILES                                */
/* =============================================================== */
/* Notice: This Design is inspired by Google Drive */

#fileManager{
  padding: 0 20px;
}

#fileManager .search{
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 40px;
}

#fileManager .search input{
  width: 100%;
  margin:0;
}

/* PATH */

#fileManager .path{
  margin-bottom: 30px;
  font-weight: lighter;
  font-size: 14px;
  padding: 4px 10px;
  background: rgb(240, 240, 240);
  color: rgba(144, 144, 144, 0.5);
  border-radius: 3px;
  position:relative;
  /*box-shadow: .6px .6px 3px rgb(185, 185, 185);*/
}

#fileManager .path ul{
  padding:0;
  margin:0;
}

#fileManager .path ul li{
  display:inline-block;
  margin:0;
}

#fileManager .path ul li a{
  display:block;
  padding: 6px 5px;
  color: rgb(144, 144, 144);
  text-decoration: none;
  border-radius: 2px;
  border: 2px transparent solid;
}

#fileManager .path ul li a.dragover{
  background: rgba(64, 142, 184, 0.1);
  border: 2px rgb(64, 142, 184) solid;
}

/* TRASH */
#fileManager .path .trash{
  display:inline-block;
  position:absolute;
  right:0;
  top: 0;
  margin: 2px;
  padding: 3px 12px;
  font-size: 24px;
  border-radius: 2px;
  border: 2px transparent solid;
}

#fileManager .path .trash > *{
  pointer-events: none;
}

#fileManager .path .trash.dragover{
  background: rgba(184, 64, 64, 0.1);
  border: 2px rgb(207, 53, 53) solid;
}

/* DIRS */

#fileManager .dirs{
}

#fileManager .dirs .dir{
  width: 250px;
  height: 40px;
  border-radius: 2px;
  box-shadow: .6px .6px 3px rgb(185, 185, 185);
  background: rgb(240, 240, 240);
  cursor: default;
  display:inline-block;
  margin: 0 0 10px 25px;
  border: 2px transparent solid;
}

#fileManager .dirs .dir > *{
  pointer-events: none;
}

#fileManager .dirs .dir h3{
  text-align: left;
  font-size: 14px;
  font-family: helvetica, sans-serif;
  font-weight: lighter;
  display: inline;
}

#fileManager .dirs .dir i{
  height: 100%;
  padding: 12px 17px;
  border-radius: 2px 0 0 2px;
  background: rgb(228, 228, 228);
  color: rgb(144, 144, 144);
  margin-right: 10px;
  box-sizing: border-box;
}

#fileManager .dirs .dir.active{
  box-shadow: .6px .6px 4px rgb(167, 167, 167);
  background: rgb(64, 142, 184);
}

#fileManager .dirs .dir.active h3{
  color: white;
}

#fileManager .dirs .dir.active i{
  background: rgb(64, 142, 184);
  color: white;
}

#fileManager .dirs .dir.dragover{
  border: 2px rgb(64, 142, 184) solid;
}


/* FILES */

#fileManager .files{
  padding: 30px 0 40px;
  border: 2px dashed transparent;
}

#fileManager .files.dragover{
  border: 2px dashed rgb(64, 142, 184);
}

#fileManager .files.dragover .file{
  pointer-events: none;
}

#fileManager .files .file{
  width: 250px;
  height: 200px;
  margin: 0 0 10px 25px;
  cursor: default;
  display:inline-block;
}


#fileManager .files .file canvas{
  width: 100%;
  height: 160px;
  margin-bottom: -4px;
  box-shadow: .6px .6px 3px rgb(185, 185, 185);
  border-radius: 2px;
}

#fileManager .files .file h3{
  margin: 0;
  height: 40px;
  color: black;
  text-align: left;
  font-size: 14px;
  padding: 12px 0 0 10px;
  box-sizing: border-box;
  font-family: helvetica, sans-serif;
  font-weight: lighter;
}

#fileManager .files .file h3 i{
  font-size: 14px;
  padding: 4px 5px;
  border-radius: 2px;
  background: rgb(74, 115, 162);
  margin-right: 5px;
  color: rgb(244, 244, 244);
}

#fileManager .files .file.active{
  box-shadow: .6px .6px 4px rgb(167, 167, 167);
}

#fileManager .files .file.active canvas{
  border: 2px 2px 0 0;
  box-shadow: none;
}

#fileManager .files .file.active h3{
  background: rgb(64, 142, 184);
  color:white;
}


/* =============================================================== */
/*                          NOSELECT                               */
/* =============================================================== */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* =============================================================== */
/*                          DROPZONE                               */
/* =============================================================== */
.dropzone{
  position:relative;
}

.dropzone.active .overlay.drop{
  display:block;
}

.dropzone.upload .overlay.upload{
  display:block;
}

.dropzone .overlay{
  display:none;
  position:absolute;
  top:0;
  right: 0;
  width: 200px;
  background: rgb(93, 138, 170);
  border-radius: 3px;
  text-align: center;
  padding: 5px;
  color: white;
}


/* =============================================================== */
/*                           OX-BOX                                */
/* =============================================================== */
.ox-trible-container:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px;
}

.ox-trible-container .ox-box{
  float:left;
  width: 32.33%;
  margin: 0 0.5%;
  box-sizing: border-box;
}

.ox-box{
  margin: 20px auto;
  padding: 10px 20px;
  border-radius:2px;
  background: rgb(240, 240, 240);
  border-top: 4px rgb(64, 142, 184) solid;
  box-shadow: 1px 1px 2px rgb(185, 185, 185);
}

.ox-box h2{
  margin: 10px;
  font-family: helvetica, sans-serif;
  color: rgb(161, 161, 161);
}

/* =============================================================== */
/*                        ADDON STUFF                              */
/* =============================================================== */

.addonIframe{
  width: 100%;
  height: 99.5%;
}

.addon-item{
  position:relative;
  max-width: 700px;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius:2px;
  background: rgb(240, 240, 240);
  border-top: 4px rgb(64, 142, 184) solid;
  box-shadow: 1px 1px 2px rgb(185, 185, 185);
}

.addon-item h2{
  margin: 0;
  font-family: helvetica, sans-serif;
  color: rgb(161, 161, 161);
}

.addon-item h3{
  margin: 0;
  font-family: helvetica, sans-serif;
  color: rgb(179, 179, 179);
  text-align: left;
}

.addon-item button{
  display:block;
  margin: 20px 0 0 auto;
}

.downloadAddon{
  position:absolute;
  top:-12px;
  right: 3px;
  border:none;
  cursor:pointer;
  background: transparent;
  color: rgb(200, 200, 200);
  font-size: 16px;
}

.downloadAddon:hover{
  color: rgb(24, 109, 154);
}

/* =============================================================== */
/*                         FORM STUFF                              */
/* =============================================================== */

.oxform{
  margin: 0 auto;
  width: 600px;
}

.oxform label i{
  display: inline-block;
  padding: 0 5px;
}

.oxform label{
  font-size: 14px;
  font-family: helvetica, sans-serif;
  display:block;
  color: rgba(172, 172, 172, 0.8);
  padding-bottom: 4px;
  text-align: left;
}


.oxinput{
  width: 100%;
  max-width: 100%;
  border: 1px solid rgb(217, 204, 209);
  border-radius: 2px;
  padding: 6px 8px;
  box-sizing: border-box;
  margin-bottom: 15px;
  outline: none;
  color: rgb(156, 156, 156);
}

textarea.oxinput{
  height: 300px;
}

.oxinput:focus{
  transition: border ease-in 0.6s;
  transition: color ease-in 0.6s;
  border: 1px solid rgb(255, 0, 84);
  color: rgb(255, 0, 84);
}

.oxlabel {
  font-size: 16px;
  font-family: helvetica, sans-serif;
  display: block;
  color: rgb(112, 112, 112);
}

.oxdescription {
  margin-top:0;
  font-size: 12px;
  font-family: helvetica, sans-serif;
  display: block;
  color: rgb(158, 158, 158);
}

.oxbutton{
  display:inline-block;
  border: 1px rgb(145, 145, 145) solid;
  background: transparent;
  color: rgb(145, 145, 145);
  padding: 5px 25px;
  cursor:pointer;
  margin: 0 10px 0 auto;
}

.oxbutton:hover{
  transition: ease-in 0.2s;
  border: 1px rgb(239, 36, 255) solid;
  color: rgb(239, 36, 255);
}

.oxbutton-float{
  position:absolute;
  top: -50px;
  right: -50px;
  width: 60px;
  height: 60px;
  padding: 3px 0 0 1px;
  border-radius: 50%;
  border:none;
  background: rgb(64, 142, 184);
  color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  cursor:pointer;
}
.oxbutton-float i{
  font-size: 40px;
}
.oxbutton-float:hover{
  transition: ease-in 0.2s;
  box-shadow: 0 0 6px rgba(252, 82, 255, 1);
}
.oxbutton.rightBlock{
  display: block;
  margin: 8px 8px 8px auto;
}

/* =============================================================== */
/*                 PAGE GENERATOR LIGHTBOX                         */
/* =============================================================== */

#lightbox .container .dialog.pageGenerator{
  width: 100%;
  min-width: 400px;
  height: 100% !important;
  box-sizing: border-box;
}

.pageGenerator .setting.list{
  border: 4px solid rgb(49, 122, 208);
  border-radius: 4px;
}

.pageGenerator .setting.list h2.list{
  margin:0;
  padding: 12px 5px 4px 5px;
  background: rgb(49, 122, 208);
  color: white;
}
.pageGenerator .setting.list p.list{
  margin:0;
  padding: 2px 5px;
  background: rgb(49, 122, 208);
  color:white;
}

.pageGenerator .setting.list .itemlist{
  position:relative;
  margin: 20px;
  border-bottom: rgb(222, 222, 222) 2px dashed;
}

.pageGenerator .setting.list .deleteItem{
  border: none;
  position: absolute;
  background: transparent;
  top:0;
  right: 0;
  cursor: pointer;
  color: rgb(222, 222, 222);
  font-size: 18px;
}

.pageGenerator .setting.list .deleteItem:hover{
  transition: ease-in .2s;
  color: rgb(232, 92, 92);
}

.pageGenerator .setting.list .itemlist h2{
  margin: 5px 0;
}

.pageGenerator .setting.list .itemlist p{
  margin: 2px 0;
}

.pageGenerator .content{
  height: 100%;
  position:relative;
}

.pageGenerator .preview{
  width: 70%;
  height: calc(100% - 50px);
  float: left;
  border-radius: 4px;
  box-sizing: border-box;
  border: 4px solid rgb(92, 92, 92);
}

.pageGenerator .preview .previewMenu{
  height: 30px;
  background: rgb(92, 92, 92);
  text-align: right;
}

.pageGenerator .preview .previewMenu button{
  display: inline-block;
  height: 30px;
  background: rgb(119, 119, 119);
  border:none;
  cursor:pointer;
  padding: 0 10px;
  color: white;
}

.pageGenerator .preview .previewMenu button:hover{
  background: rgb(161, 161, 161);
}

.pageGenerator #pageEditorPreview{
  width: 100%;
  height: calc(100% - 30px);
}
#pageEditorPreview{
  width: 100vw;
  height: 100vh;
}

.pageGenerator .menu{
  float: right;
  width: 30%;
  height: calc(100% - 50px);
  box-sizing: border-box;
  padding: 20px;
  overflow-y: auto;
}

.pageGenerator .menu .plugins{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.pageGenerator .menu .plugins .plugin{
  position: relative;
  width: 80%;
  margin: 0 auto;
  height: 200px;
  margin-bottom: 10px;
  border: 1px rgb(11, 118, 224) solid;
  cursor:pointer;
}

.pageGenerator .menu .plugins .plugin .name{
  position: absolute;
  top:50%;
  left:50%;
  margin-top: -20px;
  margin-left: -100px;
  width: 200px;
  height: 40px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  color: white;
  font-size: 14px;
  line-height: 42px;
  z-index: 2;
}

.pageGenerator .menu .plugins .plugin .thumb{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-filter: brightness(0.6); /* Chrome, Safari, Opera */
  filter: brightness(0.6);
  z-index: 1;
}

/* =============================================================== */
/*                         LIGHTBOX                                */
/* =============================================================== */

.lightboxquestion{
  font-size: 16px;
  text-align:center;
  margin-bottom: 10px;
}

.lightboxinput{
  width: 100%;
  border: 1px solid rgb(217, 204, 209);
  border-radius: 2px;
  padding: 6px 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
  outline: none;
  color: rgb(156, 156, 156);
}

.lightboxinput[type="checkbox"]{
  width: auto;
}

.lightboxinput:focus{
  transition: ease-in 0.6s;
  border: 1px solid rgb(255, 0, 84);
  color: rgb(255, 0, 84);
}

#lightbox{
  position: fixed;
  top:0;
  right:0;
  background:rgba(0, 0, 0, 0.4);
  z-index:97;
  display:none;
}

#lightbox .container{
  margin-top: 1px;
  position: relative;
  height: 100%;
}

#lightbox .container .dialog{
  position: relative;
  width: 300px;
  min-height: 100px;
  margin: 0 auto 0 auto;
  background: white;
  border-radius: 0 0 4px 4px;
  padding: 20px 20px;
}

#lightbox .container .dialog .footer{
  position:absolute;
  bottom:10px;
  text-align: center;
  margin-left: 20px;
}

#lightbox .container .dialog .footer button{
  width: 120px;
  padding: 8px 0;
  cursor:pointer;
  font-size: 16px;
  margin: 0 4px;
}

#lightbox .container .dialog .footer .success{
  color: white;
  background: rgb(75, 166, 134);
  border: 2px solid rgb(73, 152, 123);
  border-radius: 2px;
}

#lightbox .container .dialog .footer .success:hover{
  transition:ease-in 0.2s;
  background: rgb(91, 203, 164);
  border: 2px solid rgb(67, 182, 140);
}

#lightbox .container .dialog .footer .cancel{
  color: white;
  background: rgb(166, 75, 75);
  border: 2px solid rgb(152, 73, 73);
  border-radius: 2px;
}

#lightbox .container .dialog .footer .cancel:hover{
  transition:ease-in 0.2s;
  background: rgb(203, 91, 91);
  border: 2px solid rgb(182, 67, 67);
}



/* =============================================================== */
/*                        PAGE ITEMS                               */
/* =============================================================== */

.pageitem{
  width: 190px;
  height: 280px;
  background: white;
  float: left;
  margin: 20px;
  border-radius: 2px;
  position:relative;
  border: 2px solid transparent;
  cursor:pointer;
  box-shadow: 0 0 4px rgba(171, 171, 171, 0.6);
}

.pageitem:hover{
  transition: ease-in .2s;
  border: 2px solid rgb(236, 78, 255);
}

.pageitem .deletePageButton{
  border:none;
  color: rgb(221, 191, 191);
  background:none;
  font-size: 24px;
  cursor:pointer;
}

.pageitem .deletePageButton:hover{
  transition: ease-in 0.2s;
  color: rgb(209, 84, 84);
}

.pageitem .navPageButton{
  top:0;
  border:none;
  color: rgb(191, 204, 221);
  background:none;
  font-size: 22px;
  cursor:pointer;
}

.pageitem .navPageButton:hover, .pageitem .navPageButton.active{
  transition: ease-in 0.2s;
  color: rgb(0, 140, 255);
}

.pageitem .renamePageButton{
  top:0;
  border:none;
  color: rgb(191, 204, 221);
  background:none;
  font-size: 22px;
  cursor:pointer;
}

.pageitem .renamePageButton:hover, .pageitem .renamePageButton.active{
  transition: ease-in 0.2s;
  color: rgb(0, 140, 255);
}

.pageitem .icon{
  position:absolute;
  font-size: 72px;
  text-align: center;
  width: 100%;
  padding: 40px 0 0 0;
  box-sizing: border-box;
  color:rgba(203, 75, 255, 0.6);
}

.pageitem:hover .icon{
  transition: ease-in .2s;
  color:rgba(203, 75, 255, 1);
}

.pageitem .title{
  position:absolute;
  padding: 20px;
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left:0;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  border-radius: 0 0 2px 2px;
  cursor:pointer;
}


/* =============================================================== */
/*                    NAVIGATION ITEMS                             */
/* =============================================================== */

.navitem{
  position:absolute;
  background: rgb(208, 223, 235);
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
}

.navitem .title{
  display:inline-block;
  cursor:default;
  width: 200px;
}

.navitem .url{
  display:inline-block;
  cursor:default;
}

.navitem .buttonbar{
  position:absolute;
  top:0;
  right:0;
  padding: 10px;
}

.navitem .buttonbar button{
  border-radius: 2px;
  border: 1px rgb(121, 154, 210) solid;
  background: none;
  padding:3px 5px;
  cursor:pointer;
}

.navitem .buttonbar button.red{
  color: rgb(187, 45, 45);
  border: 1px rgb(214, 88, 88) solid;
}

.navitem .buttonbar button:hover{
  color: white;
  transition: ease-in 0.2s;
  background: rgb(121, 154, 210);
}

.navitem .buttonbar button.red:hover{
  background: rgb(214, 88, 88);
}


/* =============================================================== */
/*                         TABCONTROL                              */
/* =============================================================== */

.tabContainer{
  max-width: 90%;
  margin: 0 auto;
}

.tabContainer ul{
  margin:10px 0 10px 0;
  padding:0;
}

.tabContainer ul li{
  display: inline-block;
  list-style:none;
}

.tabContainer ul a{
  padding: 10px 20px;
  background: rgba(64, 142, 184, 0.5);
  border-radius: 3px 3px 0 0;
  color: rgb(177, 177, 177);
  text-decoration: none;
  cursor:pointer;
  font-size: 20px;
  color: white;
}

.tabContainer ul a.active{
  color: white;
  background: rgb(64, 142, 184);
}

.tabContainer .tabContent{
  position:relative;
  background: rgb(239, 244, 246);
  border-top: 4px rgb(64, 142, 184) solid;
  border-radius:0 3px 3px 3px;
  min-height: 400px;
  box-shadow: 1px 1px 2px rgb(185, 185, 185);
}

.tabContainer .tabContent .tab{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
}

.tabContainer .tabContent .tab .dataContainer{
  position: relative;
  overflow: hidden;
  height: auto;
  width: 100%;
  min-height: 400px;
}

/* =============================================================== */
/*                      TABCONTROL LIGHT                           */
/* =============================================================== */

.tabContainer.light ul{
  text-align: center;
}

.tabContainer.light ul a{
  background: transparent;
  color: rgba(64, 142, 184, 0.5);
  border-bottom: 2px solid rgba(64, 142, 184, 0.5);
  padding: 5px 4px;
  margin: 0 20px;
}

.tabContainer.light ul a.active{
  color:rgb(64, 142, 184);
  border-bottom: 2px solid rgb(64, 142, 184);
}

.tabContainer.light .tabContent{
  background: transparent;
  box-shadow: none;
  border: none;
}

/* =============================================================== */
/*                            LOGO                                 */
/* =============================================================== */

.logo{
  display:block;
  width: 250px;
  height: 80px;
  margin: 0 auto;
}





/* =============================================================== */
/*                            BOXES                                */
/* =============================================================== */

.headerbox{
  width: 90%;
  max-width: 400px;
  padding: 20px;
  border-radius: 3px;
  margin: 20px auto 80px auto;
}







/* =============================================================== */
/*                         BOX STYLES                              */
/* =============================================================== */


.purple-box{
  background:linear-gradient(rgba(113, 119, 201, 0.8), rgba(173, 54, 222, 0.8));
  color: white;
}

.blue-box{
  background:rgb(54, 148, 173);
  color: white;
}

.flat-box{
  background:rgb(64, 142, 184);
  color:white;
}
