body{
  font-family: helvetica, sans-serif;
}

h2{
  color: rgb(217, 28, 232);
  margin: 0 0 20px 0;
  text-align: center;
}

.background{
  position:fixed;
  display:block;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background: url(../img/bg-min.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
  -webkit-filter: grayscale(100%) brightness(0.4); /* Chrome, Safari, Opera */
  filter: grayscale(100%) brightness(0.4);
}

.logo{
  display:block;
  margin: 20px auto 5px auto;
  width: 200px;
  height: 100px;
}

.wrapper{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index: 99;
}

.login_container{
  margin: 20vh auto;
  width: 350px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}

#loginForm input{
  width: 100%;
  border: 1px solid rgb(217, 204, 209);
  border-radius: 2px;
  padding: 6px 8px;
  box-sizing: border-box;
  margin-bottom: 15px;
  outline: none;
  color: rgb(156, 156, 156);
}

#loginForm input:focus{
  transition: ease-in 0.6s;
  border: 1px solid rgb(255, 0, 84);
  color: rgb(255, 0, 84);
}

#loginForm button{
  display:block;
  border: 1px rgb(145, 145, 145) solid;
  background: transparent;
  color: rgb(145, 145, 145);
  padding: 5px 25px;
  cursor:pointer;
  margin-left: auto;
}

#loginForm button:hover{
  transition: ease-in 0.2s;
  border: 1px rgb(239, 36, 255) solid;
  color: rgb(239, 36, 255);
}

#errorbox{
  margin: 0 0 10px 0;
  border: 1px solid rgb(176, 37, 37);
  border-radius: 1px;
  color: rgb(176, 37, 37);
  padding: 5px 10px;
  display:none;
}

#successbox{
  margin: 0 0 10px 0;
  border: 1px solid rgb(37, 176, 113);
  border-radius: 1px;
  color: white;
  background: rgb(37, 176, 113);
  padding: 5px 10px;
  display:none;
}
