.notify {
  position: fixed;
  display:none;
  width: 350px;
  height: auto;
  max-width: 92vw;
  min-height: 50px;
  top: 10px;
  right: 10px;
  border-radius: 4px;
  padding-top: 18px;
  text-align: center;
  font-size: larger;
  cursor:pointer;
  z-index: 10001; /* TO PUT IT OVER THE REMODAL :) */
}

.notify-left {
  right: auto;
  left: 10px;
}

.notify-success {
  background: rgba(98, 191, 118, 0.95);
  border: solid rgb(98, 191, 118);
  color: white;
}

.notify-warning {
  background: rgba(191, 157, 98, 0.95);
  border: solid rgb(191, 157, 98);
  color: white;
}

.notify-error {
  background: rgba(191, 104, 98, 0.95);
  border: solid rgb(191, 104, 98);
  color: white;
}

.notify-info {
  background: rgba(98, 177, 191, 0.95);
  border: solid rgb(98, 177, 191);
  color: white;
}
